<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.data.title %></title>

	<meta name="description" content="<%= htmlWebpackPlugin.options.packageConfig.description %>"/>
	<meta name="theme-color" content="<%= htmlWebpackPlugin.options.data.themeColor %>"/>

	<meta property="og:type" content="game" />
	<meta property="og:title" content="The greatest sacrifice" />
	<meta property="og:site_name" content="The greatest sacrifice" />
	<meta property="og:description" content="Ludum Dare 43 Theme: Sacrifices must be made - village survival simulator manage resources and population of your village." />
	<meta property="og:url" content="http://ld43.xesenix.pl/" />
	<meta property="og:image" content="http://ld43.xesenix.pl/assets/thumb.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=5, user-scalable=0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

	<link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
</head>
<body>
	<div id="app" class="container">
		<h1><%= htmlWebpackPlugin.options.data.title %></h1>
		<p>
			You are the leader of a small village in this very hostile world you need to decide if you will pay tribute to the gods or stand on your own against plagues that visit this world every year.<br/>
			Manage your villagers assign them to work so they can gather resources for sacrifices or village development. Or leave them idle so they can multiply and sacrifice them to permanently weaken creatures disturbing this world.
		</p>
		<h3>Loading...</h3>
	</div>

	<div class="footer">
		&copy; <%= htmlWebpackPlugin.options.packageConfig.author %>, build version: <%= htmlWebpackPlugin.options.packageConfig.version %>
	</div>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23677085-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-23677085-12');
	</script>
</body>
</html>
