@import url('https://fonts.googleapis.com/css?family=Oswald');

@import './preload.scss';

$footer-height: 32px;

// FF fullscreen
html {
	overflow: auto;
}

body {
	padding: 0 0 32px;
	margin: 0;

	font-family: "Oswald", "Helvetica", "Arial", sans-serif;

	// FF fullscreen
	&:fullscreen {
		overflow: auto;
	}

	// Chrome fullscreen
	&:-webkit-full-screen {
		overflow: auto;
	}
}

.ie {
	display: block;
	margin: 1rem;
	text-align: center;
}

.container {
	display: grid;
	min-height: calc(100vh - #{$footer-height});
	justify-content: center;
	position: relative;
	z-index: 0;
}

.footer {
	display: grid;
	align-content: center;
	height: $footer-height;
	box-sizing: border-box;
	background-color: black;
	bottom: 0;
	color: white;
	font-family: "Oswald", "Helvetica", "Arial", sans-serif;
	left: 0;
	padding: 4px 48px;
	position: fixed;
	right: 0;
	text-align: right;
}
