@import url('https://fonts.googleapis.com/css?family=Oswald');

// FF fullscreen
html {
	overflow: auto;
}

body {
	padding-bottom: 32px;

	// FF fullscreen
	&:fullscreen {
		overflow: auto;
	}

	// Chrome fullscreen
	&:-webkit-full-screen {
		overflow: auto;
	}
}

.container {
	display: grid;
	position: relative;
	z-index: 0;
}

.footer {
	background-color: black;
	bottom: 0;
	color: white;
	font-family: "Oswald", "Helvetica", "Arial", sans-serif;
	left: 0;
	padding: 4px 48px;
	position: fixed;
	right: 0;
	text-align: right;
}
